* {
  font-size: 10px;
  padding: 0;
  margin: 0;
}
header {
  background: orange;
  /*   height:15vh; */
  text-align: center;
  padding: 25px;
  margin: 10px 0;
}
aside {
  background: green;
  width: 33vw;
  float: left;
  height: 30rem;
}
main {
  background: purple;
  height: 30rem;
  float: right;
  width: 64vw;
  text-align: right;
}
div {
  clear: both;
}
footer {
  background: teal;
  text-align: center;
  padding: 25px;
  margin-top: 20px;
}
