:root{
  --primary-color: #f75940;
  --secondary-color: #3dc7be;
  --light-color: #3342527a;
  --dark-coloe: #364857;
  --max-width: 1100px;
}

.category{
  --sports-color:#3dc7be;
  --ent-color:#334252;
  -tech-
}