/* 
* {
  font-size: 10px;
  padding: 0;
  margin: 0;
} */

.div_one{
  background: none;
  border: black 2px solid:
  padding: 25px;
  margin: 10px 0;
}




#outer {
  width: 100px;
  height: 100px;
  background: darkcyan;
  margin: 50px;
  /* margin-top: 10px; */
  /* font-size: 20px; */
  }

  #outerTwo {
    width: 100px;
    height: 100px;
    background: darkcyan;
    margin: 50px;
    font-size: 25px;  
    /* margin-top: 10px; */
    }

  #outerThree {
    width: 100px;
    height: 100px;
    background: darkcyan;
    margin: 50px;
    font-size: 12px; 
    }


  #inner {
  width: 50px;
  height: 50px;
  background: lightgreen;
  position: relative;
  top: 10px;
  }