:root{
  --primary-color: #fd72ad; /*f67280 #e97a7a; #8b76a5 #b9c0d5 #8b4f80*/
  --secondary-color: #c06c84 ; /*fd72ad fcce9e*/
  --light-color: #6c5b7b ;
  --dark-color: #355c7d ;
  --max-width: 1100px;
  --grey-color: rgba(255, 255, 255, 0.7);
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

 body{

  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
  position: relative;
  background: url('/img/pexels-miguel-á-padriñán-255379.jpg') no-repeat center center/cover;
} 

header{
  background: var(--secondary-color);
  position: sticky;
  top: 0;
  left: 0;
  opacity: 0.8;
  /* height: 5vh; */
  z-index: 20;
}

ul {
  list-style: none;  
  /* padding: 10px; */
}

li{
  padding: 10px;
}

a{
  text-decoration: none;
}

header img{
  width: 300px;
  height: 150px;
  /* padding: 30px; */
  padding-left: 50px;
}

header img:hover{
  /* background: cyan; */
  /* opacity: 0.5; */
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  transform: scale(1.1);
}

#main-nav{
  background: var(--primary-color);
  /* position: sticky;
  top:0;
  z-index: 20; */
  /* font-family: 'Open Sans', sans-serif; */
} 

#main-nav .container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  /* grid-template-rows: repeat(1, 1fr); */
  grid-template-rows: 90px;
  /* grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center; */
  align-items: center;
} 

#main-nav .container h1{
  font-size: 3rem;
}

#main-nav ul{
  /* justify-self: end; */
  display: flex;
  justify-self: center;
  /* flex-wrap: wrap; */
  height: 10vh;
  align-items:center;
}

#main-nav ul li a{
  padding: 0.75rem;
  /* font-weight: bold; */
  border-radius: 50px;
}

#main-nav ul li a.current{
  background: var(--dark-color);
}
#main-nav ul li a:hover{
  background: var(--secondary-color);
  border-radius: 50px;
  
}


 #welcome{
  height: 100vh;
  width: 100vw;
  background: url('/img/pexels-miguel-á-padriñán-255379.jpg') no-repeat center center/cover;
} 

.welcome {
  /* display: flex;
  align-items:  center;
  justify-content: space-between;
  text-align: center;  */
  font-size: 60px;
  line-height: 1.2em;
  padding-top:170px;
  text-align:center;
  
  /* border: 16px solid #d6689654; 
  border-top: 16px solid #e91a7b; 
  border-radius: 50%;
  width: 100px;
  height: 100px; */
  animation: enter 3s linear infinite;
}

/* .welcome:hover{
  transform: rotate(25deg);
} */

/* .welcome::before{

} */

@keyframes enter {
  0% { transform:scale(1) }
  100% { transform: scale(1.1) }
}

/* .circle{

} */



.about{
  padding: 30px;
  display: flex;
  align-items:  center;
  justify-content: space-between; 
  text-align: center;
  background: var(--grey-color);
  /* padding-top: 10px; */
}

.about img{
  /* padding: 30px;
  display: flex;
  align-items:  center;
  justify-content: space-between; 
  text-align: center; */
  width: 150px;
  height: 150px;
  border-radius: 20px;
  border-top: var(--primary-color) 8px solid;
  border-bottom: var(--primary-color) 8px solid;
}

.about img:hover{
 opacity: 0.9;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.about h1:hover{
  /* transform: rotate(90deg); */
  transform: scaleX(1.1);
}

.about h3{
  font-weight: bold;
  margin-bottom: 25px;
}

 .about p{
  margin-bottom: 25px;
} 

.about a{
  color: var(--dark-color);
  background-color: var(--primary-color);
  padding: 10px;
  color: #333;
  
}

.about .btn{
  position: relative;
  z-index: 10;
  
}

.btn::before{ /*these are the button's animation properties. */
  content: '';
  position: absolute; /*the btn positioned relative and so the before is absolute to be on top of it*/
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index: 20; 
  background: var(--secondary-color);
  opacity: 0.7;

  transition: transform 0.5s ease-in-out;
  transform: scaleY(0); /*starts from the middle of the button*/
  /* transform-origin: right; */
}

.btn:hover:before{
  transform: scaleY(1); /*reaches the top and bottom of the button*/
  
}

.btn:hover{
  /* color: rgb(173, 43, 63); */
  
}

#more_info{
  height: 60vh;
  
}

.more_info_left{
  background: var(--grey-color);
  padding: 50px;
  padding-left: 8%;
  margin: 20px;
  width: 45vw;
  height: 50vh;
  text-align: left;
  float: left;
  /* position: relative; */
}
.more_info_left h1{
  
  padding: 10px;
 
}

.more_info_left i{
  color: var(--primary-color);
  font-size: 24px;

}

 .anim{
  position: relative;
} 

.anim::after {/*this sets the underline properties and where it starts*/
  content: '';
  position: absolute;
  /* top:0;
  left:0; */
  width: 0;  
  height: 2px;
   display: block;
  /*margin-top: 5px; 
  left: 0;*/
  background: var(--primary-color);
  transition: width 0.5s ease-in-out;
  
}

.anim:hover:after { /*the underline arrives till the end of the heading*/
  width: 100%;
  left: 0;
}





















.more_info_right{
  background: var(--grey-color);
  padding: 30px;
  margin: 20px;
  width: 45vw;
  height: 50vh;
  text-align: left;
  float: right;
  
}

.right{
  /* display: flex;
  align-items: center; */
}

.animation{
  width: 70px;
  height: 70px;
  background: var(--light-color); 
  border-radius: 70px;
  border: 2px black dotted;
  /* box-shadow: 10px 10px 0 0  var(--dark-color); */
  animation: roll 15s linear infinite;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  
  /* background: url('/img/pexels-satoshi-hirayama-2070033.jpg') no-repeat center center/cover; */
}

/* .animation:hover{
  box-shadow: none;
} */

@keyframes roll {
  0% { transform:rotate(0deg); 
    top:0;
    left:0; 
  }

  /* 50% { transform: rotate(360deg);
    top:0;
    left: 150px; 
    background: yellowgreen; 
  } */

  100% { transform: rotate(360deg);
    top:0;
    left: 90vw; 
    background: var(--primary-color); 
  }
}


 #recommandtions{
  
  /* padding: 30px;
  display: flex;
  align-items:  center;
  justify-content: space-between; 
  text-align: center;
  background: var(--grey-color); */
} 

.recommendations_types{
  display: flex;
  align-items:center;
  justify-content:space-between;
  text-align: center;
  margin: 50px;
  padding: 50px;

  /* display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-column-gap: 40px; */
  
  /* grid-template-rows: 90px; */
  
  align-items: center;
}

.recommendations_types .text{
  margin-top: 30px;
}


/* .recommendations_types:hover{
  transform: scaleX(1.1);
} */

#recommendations h1{
  font-size: 30px;
  text-align: center;
}

.recommendations_types img{
  /* padding: 30px;
  display: flex;
  align-items:  center;
  justify-content: space-between; 
  text-align: center; */
  width: 250px;
  height: 250px;
  border-radius: 200px;
  
}

.recommendations_types img:hover{
  box-shadow: 0 8px 16px 0 var(--primary-color);
  transform: Scale(1.1);
}

#contact{
  background: var(--grey-color);
}

#contact h1{
  font-size: 30px;
  text-align: center;
}





#contact-form{
  padding: 30px 30px;
  background: url('/img/pexels-miguel-á-padriñán-255379.jpg') no-repeat center center/cover;
  font-family: 'Open Sans', sans-serif;
}

#contact-form .form-group{
  margin-bottom: 20px;
  
}

#contact-form label{
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 50%;
  padding:10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height:200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #444;
}

.btn_contact{
  position: relative;
  z-index: 10;
  color: var(--dark-color);
  background-color: var(--primary-color);
  padding: 10px;
  color: #333;
  
}

.btn_contact::before{ /*these are the button's animation properties. */
  content: '';
  position: absolute; /*the btn positioned relative and so the before is absolute to be on top of it*/
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index: 20; 
  background: var(--secondary-color);
  opacity: 0.7;

  transition: transform 0.5s ease-in-out;
  transform: scaleY(0); /*starts from the middle of the button*/
  /* transform-origin: right; */
}

.btn_contact:hover:before{
  transform: scaleY(1); /*reaches the top and bottom of the button*/
  
}








footer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height:100px;
}

.main-footer{
  text-align: center;
  background: var(--dark-color);
  color: white;
  padding: 20px;
}

.main-footer a{
  color: var(--primary-color);
  font-size: 30px;
  padding: 10px;
}

.main-footer a:hover{
  color: var(--secondary-color);
}





/* .footer .social > *{
  margin-right: 30px;
}  */