.loader {
  border: 16px solid #d6689654; 
  border-top: 16px solid #e91a7b; 
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}