* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color:cadetblue;
  font-family: "Sofia", sans-serif;
  color: blueviolet;
}



header{
  font-size: 34px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  width: 200px;
  background-color: blueviolet;
  color: black;
}

aside {
  width: 40%;
  padding-left: 25px;
  margin-left: 25px;
  float: right;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

article{
  width= 300px;
  padding: 20px;
}

/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

/* .container {
  padding: 2px 16px;
} */

.footer{
  color: aqua;
}