* {
  box-sizing: border-box;
}

body{
  background-color:rgba(95, 158, 160, 0.637);
  font-family: "Sofia", sans-serif;
  color: blueviolet;
  line-height: 1.4em;
  
}

.nav_menu{
  background: cadetblue;
  font-family: "Trirong", serif;;
  list-style: none;
  color: black;
  /* border: 2px black solid; */
  border-radius: 10px;
  width: 100%;
  height:auto;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.nav_menu li{
  float: left;
}

.nav_menu li:last-child{
  border:none;
}

.nav_menu li a{
  display: block;
  color:rgb(2, 31, 54);
  text-decoration: none;
  padding: 15px 20px;
}

.nav_menu li a:hover{
  color:rgb(44, 83, 116);
  background: rgb(63, 106, 107);
}

.container{
  margin: auto;
  max-width: 850px; 
}

header{
  text-align: center;
  font-size: 34px;
  text-shadow: 2px 2px black;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  width: 250px;
  background-color: white;
  color: black;
  padding: 5px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

aside {
  width: 25%;
  padding-left: 25px;
  margin-left: 25px;
  float: right;
  /* font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

/* .container {
  padding: 2px 16px;
} */

.footer{
  color: aqua;
}