
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* background: rgba(0, 0, 0, 0.274); */
}

@font-face{
  font-family: 'Gotham Medium Regular';
  src: url(/Tesla/fonts/Gotham\ Medium\ Regular.ttf);
  font-style:normal;
  font-weight: 500;

}


@font-face{
  font-family: 'Gotham Book';
  src: url(/Tesla/fonts/Gotham\ Book.ttf);
  font-style:normal;
  font-weight: 400;

}

@font-face{
  font-family: 'Gotham Light';
  src: url(/Tesla/fonts/Gotham\ Light.ttf);
  font-style:normal;
  font-weight: 500;

}

.model3{
  background: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/b03da2fc-ecaa-4554-8df9-8f73e411f360/bvlatuR/std/2880x1800/model-3-hero-desktop');
  width: 100vw;
  height: 100vh; 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* position: relative; */
  /* position: absolute;
  clip: rect(0, 100px, 200px, 0); */
  background-position: center center;
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
  background-size: cover;
  
}

#navbar{
  color: :#ffffff;
  overflow:auto; 
  /* backround shows no matter what */
  /* width: 32%; */
  /* display: inline-block; */
  /* box-sizing: border-box; */
}

#navbar img{
  width: 10%;
  height: auto;
  padding: 15px 15px;
}

#navbar a{
  color:#ffffff;
  text-decoration: none;
} 

#navbar ul {
  list-style: none;
  float:right;
  margin-right: 60vh;
  margin-top: 1vh;
}

#navbar ul li{
  float: left;
  font-family: 'Gotham Medium Regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

#navbar ul li a{
  display: block;
  padding: 10px;
  text-align: center;
}

#navbar .user{
  float: right;
  margin-right: 10vh;
  /* position: absolute;
  bottom: 90vh; */
  

}

#navbar_two{
  color: white;
  overflow:auto; 
  /* backround shows no matter what */
}

#navbar_two a{
  color: white;
  text-decoration: none;
  
}

#navbar_two ul {
  list-style: none;
  float: left;
}

#navbar_two ul li{
  /* float: left; */
  /* margin: 100px 0 0 10px;
  padding: auto ;  */
  line-height: 1em;
  /* padding-top: 100px; */
  /* background:grey; */
  margin-left: 1vw;
  padding-bottom: 1vw;
  font-size: 20px;
} 

/* #navbar_two ul li a{
  display: block;
  padding: 10px;
  text-align: center;
} */

#showcase{
  text-align: center;
  color: #ffffff;
  /* margin: 50px; */
  /* height: 500px; */
  /* padding-top:50px; */
  position: absolute;
  bottom: 70vh;
  left:37vw;
  font-family: 'Gotham Medium Regular';
  font-weight: 500;
  font-size: 20px;
  line-height: 48px;
}

#features{
  margin-top: 40vh;
  padding-inline-start: 30%;
}

/* #features ul{
  text-decoration:#ffffff;
  border-left: 2px solid;
} */
#features li{
  display: inline-block;
  padding: 30px;
  text-align: center;
  font-family: 'Gotham Medium Regular';
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  
}
#features li .right{
  border-right: 1px solid;
  border-collapse: separate;
  padding-right: 2vw;
}

/* #features li .big{
  font-weight: 500;
  font-size: 28px;
}

#features li .small{
  font-weight: 400;
  font-size: 12px;
} */

.box{
  float: left;
  width:25%;
  /* padding: 50px; */
  padding-bottom: 10%;
  text-align: center;
  color: white;
  font-family: 'Gotham Medium Regular';
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

.big{
  font-weight: 500;
  font-size: 28px;
}

.small{
  font-weight: 400;
  font-size: 12px;
}

.box i{
  margin-bottom: 10px;
}

.box a{
  color: white;
  text-decoration: none;
  border: white 2px solid;
  border-radius: 30px;
  padding: 10px 35px;
  font-family: 'Gotham Medium Regular';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px
}

#features .btn {
  color: white;
  text-decoration: none;
  border: white 2px solid;
  border-radius: 30px;
  padding: 5px 35px;
  position: absolute;
  top:79vh
}

#features .btn:hover{
  background: white;
  color: black;
}

.box btn:hover{
  background: white;
  color: black;
}

#arrow{
  
  font-size: 30px;
  text-align: center;
  
}

#arrow a{
  color: #ffffff;
  font-size: 30px;
  text-align: center; 
  /* font-weight: lighter; */
  /* padding-bottom: 10vh; */
}

/* #arrow a:hover{
  padding: 10vh;
} */

.clr{
  clear:both;
}



.safty{
  background:grey;
  font-family: 'Gotham Medium Regular';
  font-weight: 500;
  /* font-size: 12px;
  line-height: 14px */
}

#safty-info{
  text-align: left;
  padding-left: 2vh;
}

#safty-info .safty-img{
  font-family: 'Gotham Medium Regular';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  padding-left: 20vh;
  float: left;
  width:50%;
  background: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/e9831dc9-9dec-47b6-a478-d7c35b335c5a/bvlatuR/std/800x950/model-_3_safety_hero_mobile') no-repeat;
  min-height: 100%;
}

#safty-info .info-content{
  float: left;
  width: 50%;
  height: 100%;
  text-align: left;
  padding: 50px 30px;
  overflow: hidden;
}

#safty-info .info-content p{
  width: 300px;
  padding: 10px;
}

#safty-info .info-content h3{
  width: 300px;
  padding: 5px;
}

#safty-info .info-content h1{
  width: 300px;
  padding: 10px;
}

#safty-info li{
  display: inline-block;
}

#safty-info li a {
  padding-right: 30px;
  color: white;
  text-decoration: none;
  border: white 2px solid;
  border-radius: 30px;
  padding: 5px 35px;
  /*position: absolute;
  top:79vh */
}

#safty-info li a:hover{
  background: white;
  color: black;
}

/*.safty-info btn:hover{
  background: white;
  color: black;
} */






.showcase_safty{
  text-align: left;
  padding-left: 20vh;
}

.showcase-content h3{
  width: 300px;
  padding: 5px;
}

.showcase-content h1{
  width: 300px;
  padding: 10px;
}

.showcase-content p{
  width: 300px;
  padding: 10px;
}

#car_parts{
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/e9831dc9-9dec-47b6-a478-d7c35b335c5a/bvlatuR/std/800x950/model-_3_safety_hero_mobile");
  width: 60vw;
}

#performance {
  /* background: tomato; */
}

.performance_fetures {
  margin-bottom: 50vh;
  height: 54vh;
  /* padding: 150px;  */
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/3489a82e-b19c-457a-86a4-7ea9ac91aa1c/bvlatuR/std/1920x1080/lhd-performance-hero-desktop");
  /* background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/f67ed6c1-4983-4f6b-b9f0-7294ca2d2333/bvlatuR/std/960x1130/lhd-performance-hero-mobile"); */
  background-position: center center;
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
  background-size: cover;
}

#performance_fetures i{
  font-size: 20px;
}

/* #performance_fetures li{
  margin-top: 50%;
  height: 50vh;
  padding: 150px;
  
} */


#performance ul {
  list-style: none;
  float:right;
  margin-right: 13vh;
  margin-top: 24vh;
}

#performance li{
  display: inline-block;
  padding: 30px;
  text-align: left;
  font-family: 'Gotham Medium Regular';
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  /* position: absolute;
  top:20px; */
  
}
#performance li .right{
  border-right: 1px solid;
  border-collapse: separate;
  padding-right: 2vw;
}

#performance li p{
  
  width: 24vw;
}

/* #features li .big{
  font-weight: 500;
  font-size: 28px;
}

#features li .small{
  font-weight: 400;
  font-size: 12px;
} */

.box{
  float: left;
  width:25%;
  /* padding: 50px; */
  padding-bottom: 10%;
  text-align: center;
  color: white;
  font-family: 'Gotham Medium Regular';
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

.big{
  font-weight: 500;
  font-size: 28px;
}

.small{
  font-weight: 400;
  font-size: 12px;
}

/* .box i{
  margin-bottom: 10px;
} */

#performance{
  /* display: inline; */
  background: rgb(255, 255, 255);
  
}

/* #performance_bottom{
  height: 20vh;
} */

#performance_bottom .left-content{
  float: left;
  width:50%;
  /* min-height: 100%; */
  /* margin-bottom: 10vh; */
  /* padding-left: 12vw; */
  /* position: absolute;
  bottom: 100px; */
  position:relative; 
  left:12vw; 
  bottom:40vh;
 
  
}

#performance_bottom .left-content h3{
  font-family: 'Gotham Light';
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  color: #171a20;
  /* font-weight: lighter; */
}

#performance_bottom .left-content h1{
  font-family: 'Gotham Medium Regular';
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #171a20;
  /* font-weight: lighter; */
}

/* #performance_bottom ul{
  margin-right: 50px;
} */


#performance_bottom li{
  padding-left: 10px;
  
}



#performance_bottom .btn{
  padding-right: 30px;
  color: #171a20;
  text-decoration: none;
  border:#171a20 2px solid;
  border-radius: 30px;
  padding: 8px 30px;
  /*position: absolute;
  top:79vh */
  position:relative; 
  right:15vw; 
  bottom:25vh;
  font-size: 12px;
  line-height: 14px;
}

#performance_bottom .btn:hover{
  color: white;
  background: black;
}









#performance_bottom .right-content{
  float: right;
  width: 50%;
  height: 100%;
  text-align: left;
  padding: 50px 30px;
  /* overflow: hidden; */
  position:relative; 
  right:12vw; 
  bottom:48vh;
  font-family: 'Gotham Regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #393c41;
}

#performance_bottom .right-content p{
  width: 37vw;
  padding: 10px;
}