@media(max-width: 500px){
  .flex-container{
  
    display: flex;
    flex-direction: column;
    /* width: 15vw; */
    align-items: center;
    height: 50vh;
    justify-content: flex-start;
    
  }
} 

 
