*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  
}

.flex-container{
  display: flex;
  
}

.flex-container > div {
  text-align: center;
  line-height: 10vh; 
}

 .item{
  font-size: 12px;
  background: grey;
  width: 200px;
} 

.item a{
  text-decoration: none;
  color: black;
}

.item a:hover{
  color:lightskyblue;
}

.item-1{
  flex-shrink: 0;
  /* width: 10vw; */
  
}
.header{
  font-size: 22px;

}
.item-2{
  /* background: none; */
  width: 80vw;
  /* flex-grow: 1; */
  
  
}





